body{
	margin: 0;
font-family: 'Alegreya', serif;
}
header{
	background-color: purple;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1, h2{font-family: 'Cormorant Garamond', serif;
}
header h1{
	color: white;
	font-size: 80px;
}
header img{
	border-radius: 100px;
	width: 600px;
	border: 5px solid gold;
}
main{
	max-width: 600px;
	margin: auto;
	padding: 0 20px;
}
main img{
	display: block;
	margin: auto auto;
	max-width: 100%;
}